.header {
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
}

.header__logo {
    font-size: 1.5rem;
    text-decoration: none;
    color: inherit;
}

.header__cart {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.header__cart-wrp {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-left: 0.5rem;
}